/**
 * Use border-box on all elements.
 * (size = content + padding + border) 
 */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.chess-app {

	.status {
		text-align: center;
	}

	table.board {
		margin-left: auto;
		margin-right: auto;
		border-collapse: separate;
		border: 1px solid black;
		td {
			width: 80px;
			height: 80px;
			border: 1px solid black;
			background-color: white;

			&.checkered {
				background-color: grey;
			}
			
			&.selected {
				border: 4px solid black;
				cursor: pointer;
			}

			&.highlighted {
				background-color: #98d6fa;
				cursor: pointer;
			}

			img.piece {
				width: 70px;
				height: 70px;
				display: block;
				margin: auto;
			}
		}
	}

	button.restart {
		display: block;
		margin: auto;
		margin-top: 20px;
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-content {
		background-color: white;
		width: fit-content;
		height: fit-content;
		padding: 20px;

		img.piece {
			width: 70px;
			height: 70px;
			padding: 10px;
			cursor: pointer;

			&:hover {
				background-color: grey;
			}
		}
	}
}
